@import "./../globals/mixins&placeholders";
@import "./../globals/variables";
@import "./../globals/global";

.tasks-cont {
  background: var(--task-cont);
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  overflow: hidden;

  #options {
    @extend %centered;
    position: relative;
    padding: 10px 20px;
    height: 50px;
    .hr {
      position: absolute;
      top: 100%;
      left: 10%;
      height: 1.5px;
      background: #000;
      opacity: 0.3;
    }
    #clear {
      @extend %centered;

      background-color: var(--delete);

      padding: 6px;
      gap: 4px;
      color: white;
      white-space: nowrap;
    }
    #task-state {
      @extend %centered;
      width: 100%;
      gap: 20px;

      span {
        position: relative;
        color: var(--main);
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.4;
        padding: 0 5px;
        transition: 0.3s;
        &.active {
          opacity: 1 !important;
        }

        &:before {
          content: "";
          transition: 1s;
          position: absolute;
          top: 120%;
          height: 3px;
          width: 0;
          // background: var(--border);
          background: var(--created);
          right: 50%;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:after {
          content: "";
          transition: 1s;
          position: absolute;
          top: 120%;
          height: 3px;
          width: 0;
          left: 50%;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          // background: var(--border);
          background: var(--created);
        }

        &.active:before,
        &.active:after,
        &:hover:before,
        &:hover:after {
          width: 50%;
        }
      }
    }
  }
  .bell {
    margin-left: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
  }
  #tasks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    overflow: auto;
    height: fit-content;
    max-height: 250px;
    overflow-x: hidden;
    .task {
      position: relative;
      padding: 0 5px;
      width: 90%;
      height: 40px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "content content content btns"
        "time time time btns";
      background: var(--secondary);
      color: var(--main);
      .custom-border {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 100%;
        height: 100%;
      }
    }

    #content {
      grid-area: content;
      .text {
        position: relative;
        padding: 0 3px;

        span.check-task {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 0;
          height: 4px;
          background: var(--delete);
        }
      }
    }
    #time-cont {
      grid-area: time;
      font-size: 0.7rem;
    }
    #btns {
      grid-area: btns;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      height: 40px;
      button {
        @extend %centered;
        width: 20px;
        height: 20px;
        padding: 2px;
        align-items: center;
        box-shadow: 0.5px 0.5px 0 grey;
        $clrs: 1 var(--unchecked), 2 var(--update), 3 darkblue, 4 var(--delete);
        @each $i, $clr in $clrs {
          &:nth-child(#{$i}) {
            background: $clr;
            color: var(--main);
            font-size: 18px;
          }
        }
      }
    }
  }
}
.delete-svg {
  @extend %centered;
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  height: 100px;
  background: var(--task-cont);
  color: white;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 5px;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .no-data {
    width: 95vw;
  }
  .tasks-cont {
    width: 95vw;
    margin-top: 20vh;
    #tasks {
      #task-state {
        font-size: 0.8rem;
        gap: 10px;
      }
      #time-cont {
        margin: 0;
        font-size: 0.6rem;
      }
      .task {
        width: 100%;
      }
      .bell {
        margin-left: 5px;
        gap: 3px;

        small {
          font-size: 7px;
        }
      }
    }
  }
}
