@import "./../globals/mixins&placeholders";
@import "./../globals/variables";
@import "./../globals/global";

.tasks-cont {
  margin: 50px auto;
  width: 60%;
  height: fit-content;
  max-height: 300px;
  background: var(--task-cont);
  border-radius: 5px;

  #options {
    @extend %centered;
    position: relative;
    padding: 10px 20px;
    height: 50px;
    .hr {
      position: absolute;
      top: 100%;
      left: 10%;
      height: 1.5px;
      background: #000;
      opacity: 0.3;
    }
    #clear {
      @extend %centered;

      background-color: var(--delete);

      padding: 6px;
      gap: 4px;
      color: white;
      white-space: nowrap;
    }
    #task-state {
      @extend %centered;
      width: 100%;
      gap: 20px;

      span {
        position: relative;
        color: var(--main);
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.4;
        padding: 0 5px;
        transition: 0.3;
        &.active {
          // opacity: 1 !important;
        }
        &:hover {
          opacity: 0.7 !important;
        }

        &:before {
          content: "";
          transition: 1s;
          position: absolute;
          top: 120%;
          height: 3px;
          width: 0;
          // background: var(--border);
          background: var(--created);
          right: 50%;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:after {
          content: "";
          transition: 1s;
          position: absolute;
          top: 120%;
          height: 3px;
          width: 0;
          left: 50%;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          // background: var(--border);
          background: var(--created);
        }

        &.active:before,
        &.active:after,
        &:hover:before,
        &:hover:after {
          width: 50%;
        }
      }
    }
  }

  #tasks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    overflow: hidden;
    .task {
      position: relative;
      padding: 0 5px;
      width: 90%;
      height: 40px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      grid-template-areas:
        "content content content btns"
        "time time time btns";
      background: var(--secondary);
      color: var(--main);
      .custom-border {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 100%;
        height: 100%;
      }
    }

    #content {
      grid-area: content;
      .text {
        position: relative;
        padding: 0 4px;

        span.check-task {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 0;
          height: 4px;
          background: var(--delete);
        }
      }
    }
    #time-cont {
      grid-area: time;
      font-size: 10px;
    }
    #btns {
      grid-area: btns;
      display: flex;

      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      height: 40px;
      button {
        @extend %centered;
        width: 20px;
        height: 20px;
        padding: 2px;
        box-shadow: 0.5px 0.5px 0 grey;
        $clrs: 1 var(--unchecked), 2 var(--update), 3 darkblue, 4 var(--delete);
        @each $i, $clr in $clrs {
          &:nth-child(#{$i}) {
            background: $clr;
            color: var(--main);
            font-size: 18px;
          }
        }
      }
    }
  }
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100px;
  background: var(--task-cont);
  color: white;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .tasks-cont {
    width: 650px;
  }
  .no-data {
    width: 600px;
  }
}

.update-loading {
  position: absolute;
  right: 4px;

  span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 1.5px;
    background: var(--main);
    opacity: 0.6;
    animation: update-loading 0.4s infinite ease-in;
  }
  @for $i from 1 to 3 {
    span:nth-child(#{$i}) {
      animation-delay: calc(#{$i} * 0.15s);
    }
    @keyframes update-loading {
      50% {
        transform: translate(0, 8px);
      }
    }
  }
}

.bell {
  margin-left: 10px;
  small {
    margin-left: 4px;
    font-size: 10px;
  }
}
