@import "../globals/global";
@import "../globals/variables";
@import "../globals/variables";

#user-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 0 auto;
  grid-template: "img details details" calc(100vh);

  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding-top: 70px;
    padding-bottom: 20px;
    grid-area: img;
    // background: #868b8e;
    background: var(--link-hover);
  }
  .userDetails {
    padding: 70px 10px;
    grid-area: details;
    // background: #eeede7;
    background: #d6cec0;

    // box-shadow: 2px 2px 2px grey;
    .parent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      margin-bottom: 5px;
      border-bottom: 0.25px rgba(0, 0, 0, 0.198) solid;
      width: 100%;
      .detail-parent {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
        height: 100%;
        width: 100%;
        position: relative;
        .err {
          top: 90%;
        }
      }
      button.btn {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: var(--border);
        width: fit-content;
        padding: 2px;
      }
      .span {
        display: inline-block;
        text-align: start;
      }
      .detail {
        width: 100px;
        padding-left: 5px;
        font-weight: 900;
        text-transform: capitalize;
      }
      .value {
        width: 230px;
        font-weight: 500;
        color: grey;
        margin-right: 8px;
      }
    }
  }
}

#avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 450px;
  border-radius: 5px;
  // background: rgb(127, 127, 127);
  background: rgb(234, 225, 225);
  .save {
    background: var(--created);
  }
  .cancel {
    background: var(--link-hover);
  }
}

.zoom-cont {
  @extend %centered;
  width: 60%;
  margin: 20px auto;

  input[type="range"] {
    accent-color: var(--created);
    margin-left: 5px;
    width: calc(100% - 40px);
  }
}
form#form-file {
  width: 80%;
  margin: 10px;
}
input[type="file"] {
  display: none;
}

#file-label {
  color: white;
  background: var(--border);
  width: fit-content;
  padding: 4px;
  white-space: nowrap;
}

.skeleton {
  background: #e5e5e577;
  animation: skeleton 2s linear infinite alternate;
}

@keyframes skeleton {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

.update-inp {
  border: 0;
  border-bottom: 2px solid var(--link-hover);
  outline: 0;
  height: 25px;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  letter-spacing: 1px;
  background: transparent;
  margin-right: 8px;
}

@media (max-width: 800px) {
  #user-data {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);

    grid-template:
      "img " auto
      "details " calc(100vh);

    .userDetails .detail-parent {
      width: 90vw;
      .value {
        width: 35vw;
      }
    }
  }
}

@media (max-width: 500px) {
  #user-data .userDetails {
    padding: 70px 0;
    .detail {
      width: 60px;
    }
    .value {
      width: 180px;
    }
  }
  #avatar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}
