* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
body {
  overflow-x: hidden;
  background: #0f0f0f;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
}

.btn {
  border: 0;
  outline: 0;
  width: fit-content;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.cancel {
  background: var(--border);
}

.clear {
  background: var(--delete);
  font-size: 0.5rem;
}

.remind {
  background: var(--unchecked);
  font-size: 0.5rem;
}

@media (max-width: 800px) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 1000px) {
  :root {
    font-size: 12px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
