* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
body {
  overflow-x: hidden;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
}

.btn {
  border: 0;
  outline: 0;
  box-shadow: 0;
  width: fit-content;
  padding: 4px;
  text-transform: capitalize;
}
