* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background: #0f0f0f;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
}

.btn {
  border: 0;
  outline: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.cancel {
  background: var(--border);
}

.clear {
  background: var(--delete);
}

.remind {
  background: var(--unchecked);
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 12px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.faq-container .faq .question, .faq-container .faq, .zoom-cont, #log-in-form #log-btn, #log-in-form, .form-cont, .delete-svg, .tasks-cont #tasks #btns button, .tasks-cont #options #task-state, .tasks-cont #options #clear, .tasks-cont #options, form #inp .mock-inp .reset span, form, .notification-parent .notification-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-container .faq .question, .faq-container .faq, .zoom-cont, #log-in-form #log-btn, #log-in-form, .form-cont, .delete-svg, .tasks-cont #tasks #btns button, .tasks-cont #options #task-state, .tasks-cont #options #clear, .tasks-cont #options, form #inp .mock-inp .reset span, form, .notification-parent .notification-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background: rgb(23, 23, 23);
  z-index: 4;
}
nav a {
  text-decoration: none;
  color: black;
}
nav #logo {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
  width: 40%;
}
nav #logo a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

#login-state {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100px;
  gap: 10px;
}
#login-state #user {
  color: var(--main);
}

ul {
  list-style: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 0px;
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
  z-index: 4;
  transform: translateX(calc(-50% + 15px));
  color: #000;
  background: var(--main);
  box-shadow: 2px 2px 20px grey;
  border-radius: 5px;
}
.dropdown ul {
  display: flex;
  align-items: center;
}
.dropdown li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 30px;
  border-bottom: 0.1px solid rgba(26, 26, 26, 0.242);
  transition: 0.3s;
  cursor: pointer;
}
.dropdown li a {
  padding-left: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.dropdown li:not(:first-child):hover {
  background: var(--created);
}
.dropdown li:not(:first-child):hover a {
  color: white;
}
.dropdown li:first-child {
  height: 40px;
}
.dropdown li:last-child {
  border-bottom: 0.1px solid transparent;
}

span.nav-icon {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(174, 170, 170);
}

.notification {
  width: 250px;
  height: 200px;
  overflow-x: hidden;
  padding-top: 10px;
  left: -40px;
}
.notification .notification-header {
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 15px;
  height: 20px;
}
.notification .notification-header button {
  color: black;
  font-size: 0.6rem;
  padding: 4px;
}
.notification h4 {
  margin: 0 auto;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
.notification h4:before {
  top: 90%;
  height: 3px;
}
.notification .nodata {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  font-weight: 700;
}
.notification .notification-parent {
  display: flex;
  padding: 3px 0;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.notification .notification-parent .notificattion-child {
  position: relative;
  background: darkgrey;
  height: 35px;
  width: 95%;
  padding: 1px;
  font-size: 1.2rem;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  flex-direction: column;
}
.notification .notification-parent .notificattion-child.is-read {
  background: #dcdada;
}
.notification .notification-parent .notificattion-child.is-read > * {
  color: black;
}
.notification .notification-parent .notificattion-child.is-read > * .content {
  color: darkblue;
}
.notification .notification-parent .notificattion-child .time-par {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.notification .notification-parent .notificattion-child .btn.read {
  background: transparent;
  font-size: 8px;
  color: var(--border);
  text-shadow: 0.2px 0.6px 0.4px black;
  letter-spacing: 0.7px;
  text-transform: lowercase;
}
.notification .notification-parent .notificattion-child .content {
  color: darkblue;
  margin-left: 3px;
  font-size: 8px;
}
.notification .notification-parent .notificattion-child .time {
  font-size: 0.8rem;
  align-self: flex-end;
  margin-bottom: 5px;
  margin-left: 4px;
  opacity: 0.4;
}
.notification .notification-parent .notificattion-child .del {
  position: absolute;
  top: -5px;
  right: 2px;
  background: transparent;
  font-size: 12px;
  color: var(--delete);
  font-weight: 900;
}

.login-link {
  color: white;
}

.notification-parent {
  display: inline-block;
  position: relative;
}
.notification-parent .notification-counter {
  background: var(--delete);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 1.2rem;
  width: 1.2rem;
  font-size: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .notification .header button {
    font-size: 0.8rem;
  }
  .notification h4 {
    margin: 0 auto;
    color: black;
    font-size: 1rem;
  }
  .notification h4:before {
    top: 100%;
    height: 3px;
    width: 40%;
    left: 30%;
  }
}
.close-drop {
  position: absolute;
  top: 70px;
  right: -20px;
  transform: translate(-50%, -50%);
  z-index: 1000 !important;
  color: var(--delete);
}
.close-drop svg {
  transform: scale(1.5);
}
.close-drop svg path {
  font-size: 40px !important;
}

@media (max-width: 500px) {
  .notification {
    position: fixed;
    top: 50px;
    left: initial;
    right: 0 !important;
    width: 100vw;
    height: calc(100vh - 50px);
    transform: initial !important;
    border-radius: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background: #0f0f0f;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
}

.btn {
  border: 0;
  outline: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.cancel {
  background: var(--border);
}

.clear {
  background: var(--delete);
}

.remind {
  background: var(--unchecked);
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 12px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

form {
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 40px;
  height: 40px;
  gap: 0;
}
form #inp {
  width: 80%;
  height: 30px;
  position: relative;
}
form #inp .mock-inp {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  background: linear-gradient(135deg, var(--border), var(--link-hover));
}
form #inp .mock-inp .placeholder {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 10px;
  font-size: 0.8rem;
}
form #inp .mock-inp .reset {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  left: 100%;
  font-size: 14px;
  background: var(--delete);
  color: white;
  cursor: pointer;
}
form #inp .mock-inp .eye {
  position: absolute;
  top: 0px;
  right: 10px;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--main);
  font-size: 14px;
  z-index: 5;
  cursor: pointer;
}
form #inp input {
  font-size: 1rem;
  position: absolute;
  width: 80%;
  min-height: 100%;
  left: 0;
  bottom: 0;
  outline: none;
  border: none;
  background: transparent;
  color: var(--main);
  padding: 0 5px;
  z-index: 2;
}
form button {
  height: 100%;
  background: var(--border);
  padding: 0 5px;
}

.err {
  color: var(--delete);
  position: absolute;
  top: 110%;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-shadow: 0.2px 1px 0.5px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.heading {
  text-transform: capitalize;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.heading:before {
  content: "";
  position: absolute;
  top: 110%;
  left: 20%;
  width: 60%;
  background: var(--border);
  height: 4px;
  border-radius: 40px;
}

#radio {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: var(--placeholder);
}
#radio div.label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--placeholder);
}

input[type=radio] {
  accent-color: var(--border);
  width: 10px;
  height: 10px;
}

select {
  outline: 0;
  border: 0;
  background: linear-gradient(135deg, var(--border), var(--secondary));
  height: 30px;
  color: var(--main);
  padding: 5px;
  width: 100%;
  margin: 0 auto;
  align-self: center;
  font-size: 0.8rem;
}
select option {
  background: var(--secondary);
}

.sign-up {
  margin-top: 4px !important;
}

@media (min-width: 500px) and (max-width: 800px) {
  form {
    width: 70vw;
  }
  form #inp .mock-inp .placeholder {
    top: -16px;
  }
}
@media (max-width: 499px) {
  form {
    width: 100vw;
    margin-top: 15vh;
  }
  form #inp .mock-inp .placeholder {
    top: -16px;
  }
}
.faq-container .faq .question, .faq-container .faq, .zoom-cont, #log-in-form #log-btn, #log-in-form, .form-cont, .delete-svg, .tasks-cont #tasks #btns button, .tasks-cont #options #task-state, .tasks-cont #options #clear, .tasks-cont #options, .notification-parent .notification-counter, form, form #inp .mock-inp .reset span {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background: #0f0f0f;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
}

.btn {
  border: 0;
  outline: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.cancel {
  background: var(--border);
}

.clear {
  background: var(--delete);
}

.remind {
  background: var(--unchecked);
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 12px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.tasks-cont {
  background: var(--task-cont);
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
}
.tasks-cont #options {
  position: relative;
  padding: 10px 20px;
  height: 50px;
}
.tasks-cont #options .hr {
  position: absolute;
  top: 100%;
  left: 10%;
  height: 1.5px;
  background: #000;
  opacity: 0.3;
}
.tasks-cont #options #clear {
  background-color: var(--delete);
  padding: 6px;
  gap: 4px;
  color: white;
  white-space: nowrap;
}
.tasks-cont #options #task-state {
  width: 100%;
  gap: 20px;
}
.tasks-cont #options #task-state span {
  position: relative;
  color: var(--main);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.4;
  padding: 0 5px;
  transition: 0.3s;
}
.tasks-cont #options #task-state span.active {
  opacity: 1 !important;
}
.tasks-cont #options #task-state span:before {
  content: "";
  transition: 1s;
  position: absolute;
  top: 120%;
  height: 3px;
  width: 0;
  background: var(--created);
  right: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tasks-cont #options #task-state span:after {
  content: "";
  transition: 1s;
  position: absolute;
  top: 120%;
  height: 3px;
  width: 0;
  left: 50%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--created);
}
.tasks-cont #options #task-state span.active:before, .tasks-cont #options #task-state span.active:after, .tasks-cont #options #task-state span:hover:before, .tasks-cont #options #task-state span:hover:after {
  width: 50%;
}
.tasks-cont .bell {
  margin-left: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}
.tasks-cont #tasks {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  overflow: auto;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 250px;
  overflow-x: hidden;
}
.tasks-cont #tasks .task {
  position: relative;
  padding: 0 5px;
  width: 90%;
  height: 40px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "content content content btns" "time time time btns";
  background: var(--secondary);
  color: var(--main);
}
.tasks-cont #tasks .task .custom-border {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
}
.tasks-cont #tasks #content {
  grid-area: content;
}
.tasks-cont #tasks #content .text {
  position: relative;
  padding: 0 3px;
}
.tasks-cont #tasks #content .text span.check-task {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  background: var(--delete);
}
.tasks-cont #tasks #time-cont {
  grid-area: time;
  font-size: 0.7rem;
}
.tasks-cont #tasks #btns {
  grid-area: btns;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 40px;
}
.tasks-cont #tasks #btns button {
  width: 20px;
  height: 20px;
  padding: 2px;
  align-items: center;
  box-shadow: 0.5px 0.5px 0 grey;
}
.tasks-cont #tasks #btns button:nth-child(1) {
  background: var(--unchecked);
  color: var(--main);
  font-size: 18px;
}
.tasks-cont #tasks #btns button:nth-child(2) {
  background: var(--update);
  color: var(--main);
  font-size: 18px;
}
.tasks-cont #tasks #btns button:nth-child(3) {
  background: darkblue;
  color: var(--main);
  font-size: 18px;
}
.tasks-cont #tasks #btns button:nth-child(4) {
  background: var(--delete);
  color: var(--main);
  font-size: 18px;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  height: 100px;
  background: var(--task-cont);
  color: white;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 5px;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .tasks-cont {
    width: 95vw;
    margin-top: 20vh;
  }
  .tasks-cont .no-data {
    width: 95vw;
  }
  .tasks-cont #tasks #task-state {
    font-size: 0.8rem;
    gap: 10px;
  }
  .tasks-cont #tasks #time-cont {
    margin: 0;
    font-size: 0.6rem;
  }
  .tasks-cont #tasks .task {
    width: 100%;
  }
  .tasks-cont #tasks .bell {
    margin-left: 5px;
    gap: 3px;
  }
  .tasks-cont #tasks .bell small {
    font-size: 7px;
  }
}
.faq-container .faq .question, .faq-container .faq, .zoom-cont, #log-in-form #log-btn, #log-in-form, .form-cont, .notification-parent .notification-counter, form, form #inp .mock-inp .reset span, .tasks-cont #options, .tasks-cont #options #clear, .tasks-cont #options #task-state, .tasks-cont #tasks #btns button, .delete-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

.form-cont {
  min-height: 100vh;
  width: 100%;
}

#log-in-form {
  background: rgba(121, 118, 118, 0.512);
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  padding: 30px;
  width: 300px;
  gap: 48px;
  margin-top: 100px;
  margin-bottom: 20px;
}
#log-in-form #log-btn {
  margin-top: -20px;
  color: white;
}

.link {
  text-decoration: none;
  color: var(--border);
  margin-top: -20px;
}

@media (max-width: 800px) {
  #log-in-form {
    width: 300px;
  }
}
.faq-container .faq .question, .faq-container .faq, .zoom-cont, .notification-parent .notification-counter, form, form #inp .mock-inp .reset span, .tasks-cont #options, .tasks-cont #options #clear, .tasks-cont #options #task-state, .tasks-cont #tasks #btns button, .delete-svg, .form-cont, #log-in-form, #log-in-form #log-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

#overley {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#overley section#clr-pop {
  position: fixed;
  z-index: 2;
  width: 400px;
  height: 200px;
  border-radius: 4px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 50%;
  left: 50%;
}
#overley section#clr-pop .btn-x {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

#loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background: #0f0f0f;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
}

.btn {
  border: 0;
  outline: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.cancel {
  background: var(--border);
}

.clear {
  background: var(--delete);
}

.remind {
  background: var(--unchecked);
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 12px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

#user-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 0 auto;
  grid-template: "img details details" 100vh;
}
#user-data .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding-top: 70px;
  padding-bottom: 20px;
  grid-area: img;
  background: var(--link-hover);
}
#user-data .userDetails {
  padding: 70px 10px;
  grid-area: details;
  background: #d6cec0;
}
#user-data .userDetails .parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 5px;
  border-bottom: 0.25px rgba(0, 0, 0, 0.198) solid;
  width: 100%;
}
#user-data .userDetails .parent .detail-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  height: 100%;
  width: 100%;
  position: relative;
}
#user-data .userDetails .parent .detail-parent .err {
  top: 90%;
}
#user-data .userDetails .parent button.btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--border);
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
}
#user-data .userDetails .parent .span {
  display: inline-block;
  text-align: start;
}
#user-data .userDetails .parent .detail {
  width: 100px;
  padding-left: 5px;
  font-weight: 900;
  text-transform: capitalize;
}
#user-data .userDetails .parent .value {
  width: 230px;
  font-weight: 500;
  color: grey;
  margin-right: 8px;
}

#avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  background: rgb(234, 225, 225);
}
#avatar .save {
  background: var(--created);
}
#avatar .cancel {
  background: var(--link-hover);
}

.zoom-cont {
  width: 60%;
  margin: 20px auto;
}
.zoom-cont input[type=range] {
  accent-color: var(--created);
  margin-left: 5px;
  width: calc(100% - 40px);
}

form#form-file {
  width: 80%;
  margin: 10px;
}

input[type=file] {
  display: none;
}

#file-label {
  color: white;
  background: var(--border);
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  white-space: nowrap;
}

.skeleton {
  background: rgba(229, 229, 229, 0.4666666667);
  animation: skeleton 2s linear infinite alternate;
}

@keyframes skeleton {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}
.update-inp {
  border: 0;
  border-bottom: 2px solid var(--link-hover);
  outline: 0;
  height: 25px;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  letter-spacing: 1px;
  background: transparent;
  margin-right: 8px;
}

@media (max-width: 800px) {
  #user-data {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template: "img " auto "details " 100vh;
  }
  #user-data .userDetails .detail-parent {
    width: 90vw;
  }
  #user-data .userDetails .detail-parent .value {
    width: 35vw;
  }
}
.faq-container .faq .question, .faq-container .faq, .notification-parent .notification-counter, form, form #inp .mock-inp .reset span, .tasks-cont #options, .tasks-cont #options #clear, .tasks-cont #options #task-state, .tasks-cont #tasks #btns button, .delete-svg, .form-cont, #log-in-form, #log-in-form #log-btn, .zoom-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background: #0f0f0f;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
}

.btn {
  border: 0;
  outline: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.cancel {
  background: var(--border);
}

.clear {
  background: var(--delete);
}

.remind {
  background: var(--unchecked);
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 12px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 600px;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
.faq-container .faq {
  border-radius: 4px;
  flex-direction: column;
  background: rgb(67, 63, 63);
  color: white;
  text-shadow: 0.5px 0.5px 0.75px black;
  letter-spacing: 0.8px;
  overflow: hidden;
  cursor: pointer;
}
.faq-container .faq .question {
  justify-content: flex-start;
  padding-left: 15px;
  width: 100%;
  height: 40px;
}
.faq-container .faq .answer {
  padding-left: 15px;
  padding: 10px;
  text-align: justify;
  background: grey;
  width: 100%;
  height: 100%;
}
.faq-container .faq .answer::first-letter {
  padding-left: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background: #0f0f0f;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
}

.btn {
  border: 0;
  outline: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.cancel {
  background: var(--border);
}

.clear {
  background: var(--delete);
}

.remind {
  background: var(--unchecked);
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 12px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --main: rgb(241, 236, 236);
  --secondary: rgb(22, 21, 21);
  --border: #587bc6c6;
  --link-hover: rgb(158, 158, 158);
  --delete: rgb(120, 12, 12);
  --deleted: rgb(120, 12, 12);
  --update: rgb(22, 113, 22);
  --updated: rgb(22, 113, 22);
  --task-cont: rgb(86, 83, 83);
  --created: rgb(0, 191, 128);
  --checked: rgb(173, 27, 27);
  --unchecked: rgb(159, 159, 27);
  --bell: rgb(203, 203, 32);
  --overley: rgba(228, 225, 225, 0.2);
  --placeholder: rgb(228, 225, 225);
}

section#reminder {
  width: 400px;
  height: 200px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 0.7rem;
}
section#reminder input {
  width: 90%;
  margin: 0 auto;
  height: 40px;
  background: var(--link-hover);
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
}/*# sourceMappingURL=main.css.map */